@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&family=Tilt+Neon&display=swap');
*{
    font-family: 'Shantell Sans', cursive;
    margin: 0;
    padding: 0;
}
h3 {
    background-color: aquamarine;
    border: 1px red ; 
}
table.gltable{
    color:rgb(56, 16, 233);
}
#send {
    background-color: black;
    color: white;
}
body{
    background: url(https://primeware.com.tr/Uploads/Hizmetler/c0e2f2b0-a93f-4583-87a0-3d6003be192a.jpg);
    color: rgb(73, 62, 41);
    margin: 50px;
    
}
.section_element{
    margin-left: 20px;
}
.header {
    font-size: 30px;
    color: burlywood;
    background-color: rgb(208, 228, 204);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.section1{
    background-color: rgb(182, 210, 223);
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}
.section2{
    background-color: rgb(199, 188, 218);
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}
.section2 article{
    margin-left: 20px;
    margin-right: 20px;
}
.section3{
    background-color: rgb(223, 182, 211);
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}
.section3 form{
    margin-left: 20px;
    margin-right: 20px;
    
}
#section3_up{
    margin-left: 20px;
    margin-right: 20px;
}
.section3 input, .section3 textarea, .section3 select{
    background-color: rgb(211, 209, 209);
    border: 1px rgb(156, 196, 179) solid;
    border-radius: 6px;
    width: 150px;
    height: 30px;
    flex: 3;
    outline: none;
    padding: 5px;
}
.footer{
    background-color: rgb(228, 175, 175);
    border-radius: 20px;
}
.flex-container{
    display: flex;
    
}
.direction-column{
    flex-direction: column;
}
.form label{
    flex: 1
}
.section3 label{
    align-self: center
}