* {
    padding: 0%;
    margin: 0;
}

h1{
    color: red;
}

.card {
    padding: 10px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.black p {
    color: white;
}

#myId {
    color: aqua;
}
